In [43]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.feature_selection import RFECV
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import StratifiedKFold

In [52]:
df_raw = pd.read_csv("../data/train.csv").drop("id",axis=1)
df_test_raw = pd.read_csv("../data/test.csv").drop("id",axis=1)
# Indices récupéré par feature selection cf notebook 
df_train = df_raw[['feat_5', 'feat_50', 'feat_60', 'feat_83']]
#df_train = df_raw.loc[:, df.columns.isin(list([ 'feat_5', 'feat_50', 'feat_60', 'feat_83']))]
df_test = df_test_raw[['feat_5', 'feat_50', 'feat_60', 'feat_83']]

In [55]:
# Récupération des labels
labels = df_raw["target"].values
y_train = []
for label in labels:
    y_train.append(int(label[-1:])-1)
y_train = np.asarray(y)

# Récupérations des features sous forme de ndarray
X_train = df_train.values
X_test = df_test.values
print('X_train shape : '+str(X_train.shape))
print('y_train shape : '+str(y_train.shape))
print('X_test shape : '+str(X_test.shape))

X_train shape : (61878, 4)
y_train shape : (61878,)
X_test shape : (144368, 4)

    feat_5  feat_50  feat_60  feat_83
0        0        0       11        0
1        0        0        0        0
2        0        0        0        0
3        6        1        0        0
4        0        2        0        0
5        7        0        5        0
6        0        0        2        0
7        0        0        0        0
8        0        0        1        0
9        0        0        0        0
10       0        0        0        0
11       0        0        0        0
12       0        0        0        0
13       0        5        2        0
14       0        0        0        0
15       0        0        1        0
16       0        0        0        0
17       0        0        0        0
18       0        0        0        0
19       0        1        1        0
20       0        0        1        0
21       0        0        0        1
22       0        0        0        0
23       1        0        0        0
24       0        0        0        3
25       0        0        0        0
26       0        0        1        0
27       0        0        0        0
28       3        1        0        0
29       0        1        0        4